Source: PACKAGE
Section: devel
Priority: optional
Maintainer: Paul Lasarev <paul@itk.ru>
Build-depends: gcc, flex, bison, libc6-dev, make, binutils
Standards-Version: 3.0.1

Package: PACKAGE
Architecture: any
Pre-Depends: clip-lib
Depends: ${shlibs:Depends}
Description: XBASE/Clipper compatible program compiler - PACKAGE library
 XBASE/Clipper compatible program compiler -  PACKAGE library
 This package provides PACKAGE library for CLIP package

