BODY {
	font-family: arial;
	font-size: 12;
	color: black;
	background-image: url(fon.gif);
        margin-left: 50px;
        margin-right: 30px

	}

TT { font-family: monospace }
XMP { font-family: monospace }

H1, H2, H3 { text-align: center }

H1 { font-family: arial; font-size: 18pt }
H2 { font-family: arial; font-size: 16pt }
H3 { font-family: arial; font-size: 14pt }

CITE { font-family: arial;
	   font-weight: bold;
	   font-size: 10pt }

P {  text-align: justify }


UL { list-style: disc }
UL { margin-left: 1em }
UL { font-family: arial; font-size: 10pt }

OL { list-style: decimal }
OL { margin-left: -1em }
OL { font-family: arial; font-size: 10pt }


LI { margin-left: 0 }
LI { font-size: 8pt }

DT { font-family: arial;
	 font-weight: bold;
	 font-size: 8pt; }

DD { font-family: arial; font-size: 8pt }

TD { font-family: arial}
TD { font-size: 8pt }
TH { font-family: arial}
TH { font-size: 8pt }
TR { font-family: arial}
TR { font-size: 8pt }

A { font-weight: bold }

A:link { color: blue }
A:visited { color: purple }
A:active { color: lime }


